* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 1080px;
    overflow-x: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    font-size: 32px;
    color: #131821;
}

a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #131821;
    text-decoration-line: underline;
}

a:hover {
    color: #4066A5;
}

a:active {
    color: #233759;
}

p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
}

.background {
    background: url("../assets/images/image_summer.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 1620px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 680px;
    z-index: -1;
}

.content {
    display: flex;
    flex-flow: column;
    width: 680px;
    height: 100%;
}

.logo {
    position: relative;
}
.logo img {
    display: inline;
}
.logo__text {
    margin-left: 15px;
    margin-bottom: 4px;
}
.nav-bar {
    width: 480px;
    height: 40px;
    margin: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 26px;
}
.nav-list {
    list-style: none;
    height: 100%;
    margin-bottom: 2px;
}
.nav-list__list-item {
    display: inline;
    margin-right: 30px;
    height: 100%;
}
.nav-list__list-item a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;


    color: #6A707B;

    &:hover {
        color: #4066A5;
    }
}
.nav-list__list-item:last-child {
    margin-right: 0px;
}
.box-wrapper {
    margin-top: 135px;
    padding-left: 140px;
    padding-right: 140px;
    position: relative;
}
.box-wrapper__sub-heading {
    margin-top: 15px;
}
.custom-input {
    margin-top: 50px;
    width: 665px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    left: -40px;
}
.custom-input__text {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1;
    border: 1px solid #E3E3E4;
    border-left: 4px solid #4066A5;
    padding-left: 40px;
    padding-right: 104px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    /* Now! I didn't want to do this, but for "design" purposes I will. */
    outline: none;
}
.custom-input__text::placeholder {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #6A707B;
}
.custom-input__text:focus {
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}
.custom-input:hover {

    .custom-input__text {
        border-right: 1px solid #4066A5;
        border-top: 1px solid #4066A5;
        border-bottom: 1px solid #4066A5;
    }

    .custom-input__submit {
        background-image: url('../assets/images/ic_arrow_active.svg');
    }
}
.custom-input__submit {
    position: absolute;
    right: 40px;
    z-index: 1;
    height: 14px;
    width: 24px;
    background-image: url('../assets/images/ic_arrow.svg');
}
.tos {
    margin-top: 55px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #E3E3E4;
}
.tos__text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: #6A707B;
}
.tos__underline {
    color: #131821;
    padding-bottom: 1px;
    border-bottom: 1px solid #131821;
}
.tos__checkbox {
    -webkit-appearance: none;
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.tos__checkbox:hover {
    cursor: pointer;
}
.tos__checkbox:checked {
    background: #4066A5;
    border: 1px solid #4066A5;
}
.tos__checkbox:checked:after {
    background-image: url('../assets/images/ic_checkmark.svg');
    content: "";
    display: inline-block;
    width: 14px;
    height: 11px;
    margin-top: 7px;
    margin-left: 5px;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.socials-list {
    list-style: none;
}
.socials-list li {
    display: inline;

    &> a {
        margin-right: 20px;
    }
}

.spacer {
    width: 100%;
    height: 1px;
    background-color: #E3E3E4;
    margin-top: 50px;
    margin-bottom: 50px;
}

.success-logo {
    width: 44px;
    height: 70px;
    margin-bottom: 40px;
    position: absolute;
    top: -110px;
}

.error-message {
    display: inline-block;
    width: 100%;
    height: 35px;
    position: absolute;
    top: 80px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #f72121;
}

// Responsivness
@media (max-width: 680px) {
    body {
        height: 746px;
    }
    h1 {
        font-size: 24px;
        line-height: 34px;
    }
    p {
        font-size: 14px;
        margin-top: 10px;
    }
    .spacer {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .content {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .background {
        top: 66px;
        left: -281px;
        width: 1119px;
        height: 746px;
        background-size: cover;
    }
    .custom-input {
        width: 295px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .box-wrapper {
        width: 335px;
        height: 370px;
        margin-top: 255px;
        background-color: #fff;
        padding: 20px;
    }
    .custom-input {
        margin: 0px;
        left: 0px;
        margin-top: 20px;

        &__text {
            padding-right: 50px;
            padding-left: 15px;
        }
        &__submit {
            line-height: 24px;
            right: 23px;
        }
    }
    .box-wrapper__sub-heading {
        margin-top: 10px;
        line-height: 26px;
    }
    .socials {
        margin-top: 20px;
    }
    .tos {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .nav-bar {
        width: 100%;
        height: 65px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        background-color: #fff;
    }
    .logo__text {
        display: none !important;
    }
    .success-logo {
        position: unset;
        margin-top: 10px;
    }
}